# Virtual Environment
venv/
env/
.venv/

# Python Cache and Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and System Files
.env
.DS_Store

# IDE and Editor Files
.vscode/
.idea/

# Log Files
*.log

# Build and Distribution Files
build/
dist/
*.egg-info/
